# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env

# VSCode
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Test artifacts
.coverage

# Distribution / packaging
build/
dist/
*.egg-info/
